In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
np.random.seed(42)
colors=['red','green','blue','yellow','purple']
names=[f'student_{i}' for i in range(1,101)]
grades=np.random.randint(50,100,size=100)
fav_colours=np.random.choice(colors,size=100)
fav_colours

array(['red', 'red', 'yellow', 'blue', 'blue', 'red', 'blue', 'blue',
       'red', 'blue', 'purple', 'green', 'green', 'red', 'yellow', 'red',
       'yellow', 'green', 'red', 'purple', 'blue', 'yellow', 'blue',
       'blue', 'red', 'blue', 'purple', 'blue', 'red', 'purple', 'green',
       'blue', 'red', 'green', 'green', 'yellow', 'purple', 'blue', 'red',
       'yellow', 'purple', 'yellow', 'purple', 'purple', 'blue', 'purple',
       'yellow', 'purple', 'blue', 'blue', 'yellow', 'green', 'green',
       'purple', 'red', 'purple', 'yellow', 'yellow', 'yellow', 'yellow',
       'yellow', 'blue', 'green', 'yellow', 'red', 'red', 'red', 'red',
       'blue', 'red', 'yellow', 'purple', 'red', 'blue', 'blue', 'red',
       'purple', 'red', 'blue', 'green', 'yellow', 'blue', 'red',
       'yellow', 'red', 'red', 'green', 'yellow', 'yellow', 'green',
       'blue', 'red', 'purple', 'red', 'red', 'blue', 'red', 'green',
       'green', 'yellow'], dtype='<U6')

In [3]:
grades

array([88, 78, 64, 92, 57, 70, 88, 68, 72, 60, 60, 73, 85, 89, 73, 52, 71,
       51, 73, 93, 79, 87, 51, 70, 82, 61, 71, 93, 74, 98, 76, 91, 77, 65,
       64, 96, 93, 52, 86, 56, 70, 58, 88, 67, 53, 74, 63, 99, 58, 75, 51,
       69, 77, 96, 56, 93, 57, 96, 84, 63, 66, 85, 99, 89, 53, 51, 55, 91,
       53, 78, 67, 75, 93, 83, 59, 85, 63, 80, 97, 64, 57, 63, 72, 89, 70,
       65, 94, 67, 96, 73, 75, 74, 94, 90, 78, 64, 94, 50, 74, 56])

In [4]:
names

['student_1',
 'student_2',
 'student_3',
 'student_4',
 'student_5',
 'student_6',
 'student_7',
 'student_8',
 'student_9',
 'student_10',
 'student_11',
 'student_12',
 'student_13',
 'student_14',
 'student_15',
 'student_16',
 'student_17',
 'student_18',
 'student_19',
 'student_20',
 'student_21',
 'student_22',
 'student_23',
 'student_24',
 'student_25',
 'student_26',
 'student_27',
 'student_28',
 'student_29',
 'student_30',
 'student_31',
 'student_32',
 'student_33',
 'student_34',
 'student_35',
 'student_36',
 'student_37',
 'student_38',
 'student_39',
 'student_40',
 'student_41',
 'student_42',
 'student_43',
 'student_44',
 'student_45',
 'student_46',
 'student_47',
 'student_48',
 'student_49',
 'student_50',
 'student_51',
 'student_52',
 'student_53',
 'student_54',
 'student_55',
 'student_56',
 'student_57',
 'student_58',
 'student_59',
 'student_60',
 'student_61',
 'student_62',
 'student_63',
 'student_64',
 'student_65',
 'student_66',
 'student_67',
 'student_68',
 'student_69',
 'student_70',
 'student_71',
 'student_72',
 'student_73',
 'student_74',
 'student_75',
 'student_76',
 'student_77',
 'student_78',
 'student_79',
 'student_80',
 'student_81',
 'student_82',
 'student_83',
 'student_84',
 'student_85',
 'student_86',
 'student_87',
 'student_88',
 'student_89',
 'student_90',
 'student_91',
 'student_92',
 'student_93',
 'student_94',
 'student_95',
 'student_96',
 'student_97',
 'student_98',
 'student_99',
 'student_100']

In [5]:
df= pd.DataFrame({
    'Name':names,
    'Favorite_color':fav_colours,
    'Grade':grades})

In [6]:
df

           Name Favorite_color  Grade
0     student_1            red     88
1     student_2            red     78
2     student_3         yellow     64
3     student_4           blue     92
4     student_5           blue     57
..          ...            ...    ...
95   student_96           blue     64
96   student_97            red     94
97   student_98          green     50
98   student_99          green     74
99  student_100         yellow     56

[100 rows x 3 columns]

In [8]:
start_time = time.time()
#Filter condition
filtered_df=df[(df['Favorite_color'].isin(['red','green'])) & (df['Grade']>90)]
filtered_df

          Name Favorite_color  Grade
62  student_63          green     99
67  student_68            red     91
72  student_73            red     93
86  student_87          green     94
96  student_97            red     94

In [9]:
end_time=time.time()

In [10]:
# Calculate KPI
total_records=len(df)
filtered_records=len(filtered_df)
hit_rate=round((filtered_records/total_records)*100,2)
execution_time=round(end_time-start_time,4)
missing_values=df.isnull().sum().sum()
missing_values

0

In [11]:
execution_time

15.5498

In [12]:
hit_rate

5.0

In [13]:
filtered_records

5

In [14]:
total_records

100

In [15]:
# KPI Summary
kpi ={
    'Total Records':total_records,
    'Filtered Record':filtered_records,
    'Hit Rate(%)':hit_rate,
    'Execution Time(s)':execution_time,
    'Missing Values':execution_time
}

In [16]:
kpi

{'Total Records': 100,
 'Filtered Record': 5,
 'Hit Rate(%)': 5.0,
 'Execution Time(s)': 15.5498,
 'Missing Values': 15.5498}

In [17]:
print("KPI Summary")
for key,value in kpi.items():
    print(f"{key}:{value}")

KPI Summary
Total Records:100
Filtered Record:5
Hit Rate(%):5.0
Execution Time(s):15.5498
Missing Values:15.5498